<div>
  <p>Make sure to adjust the href attribute to match the path to your CSS</p>

  <form action="/register" method="post" enctype="multipart/form-data">
    <label for="user_name">Username</label>
    <input type="text" name="user_name" id="user_name" />
    <label for="email">Email</label>
    <input type="text" name="email" id="email" />
    <label for="password">Password</label>
    <input type="text" name="password" id="password" />
    <label for="profile_pic">Profile Picture</label>
    <input
      type="file"
      name="profile_pic"
      id="profile_pic"
      accept="image/jpeg, image/png"
    />
    <button type="submit">Register</button>
  </form>
  <a href="/users">back</a>
</div>
