<header class="profileH desktop">
  <a href="/users">
    <p class="logo">./photos</p>
  </a>
  <div class="search-container">
    <input type="text" id="searchInput" placeholder="Search..." />
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
  <div id="searchResults"></div>
  <div class="utils">
    <div class="toggleButton">
      <div class="circle light"></div>
      <div class="circle dark"></div>
    </div>
    <a href="/users/<%=currentUser_id%>">Profile</a>
    <a href="/logoutUser">Log out</a>
    <a class="del-acc" href="/users/<%=currentUser_id%>/delete">Delete account</a>
  </div>
</header>
<header class="mobile">
  <div></div>
  <a href="/">
    <p class="logo">./photos</p>
  </a>
  <i class="fa-solid fa-ellipsis menu-trigger"></i>
  <div class="dropdown-cont">
    <i class="fa-solid fa-xmark close-menu"></i>
    <div class="utils">
      <div class="toggleButton">
        <div class="circle light"></div>
        <div class="circle dark"></div>
      </div>
      <a href="/users/<%=currentUser_id%>">Profile</a>
      <a href="/logoutUser">Log out</a>
      <a class="del-acc" href="/users/<%=currentUser_id%>/delete">Delete account</a>
    </div>
  </div>
</header>