<div class="create">
  <form action="/posts/create" method="post" enctype="multipart/form-data">
    <div class="editGrid post">
      <div class="col-1">
        <div class="field">
          <label for="description">Description</label>
          <textarea name="description" id="description" rows="4" cols="50">
          </textarea>
        </div>
      </div>
      <div class="col-1">
        <div class="field">
          <label for="alt_text">Alt text</label>
          <textarea
            name="alt_text"
            id="alt_text"
            rows="4"
            cols="50"
            required
          ></textarea>
        </div>
        <div class="field">
          <input
            type="file"
            name="path"
            id="path"
            accept="image/jpeg, image/png"
            required
          />
          <label for="path">
            <p>Post Picture</p>
            <p class="upload">
              <i class="fa-solid fa-file-arrow-up"></i>
              <span id="fileName"></span>
            </p>
          </label>
        </div>
        <div></div>
      </div>
    </div>
    <div class="col-b">
      <button type="submit" class="cta-button">post</button>
      <a href="/users/<%= user.user_id %>" class="sec-button">back</a>
    </div>
  </form>
</div>
