<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/fonts.css" />
    <link rel="stylesheet" href="/main.css" />
    <script type="text/javascript" src="/js/ajax-functions.js"></script>
  </head>

  <body>
    <div class="main_cont">
      <h1>. /404</h1>
      <a href="/">Back</a>
      <p><%= error.message %></p>
    </div>
  </body>
</html>
