<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/colors.css" />
    <link rel="stylesheet" type="text/css" href="/features.css" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/userlogic.js"></script>
    <script type="text/javascript" src="/js/ajax-functions.js"></script>
    <script
      src="https://kit.fontawesome.com/579021082b.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="front-b">
    </h1>
    <div class="main_cont front">
      <%- include(`../partials/header-front`) %>
      <%- include(`../pages/${page}`)%>
    </div>
  </body>
</html>
