:root {
    --text-color: #0f0703;
    --light-text-color: #bbb0a2;
    --dark-background: #f2f0ed;
    --background: #FBFBFB;
    --body-background: #B9CCD0;
    --dark-text: #a9cbd1;
    --cta: #ec8152;
  }