:root {
  --text-color: #0f0703;
  --text-color-overlay: rgba(15, 7, 3, 0.7);
  --dark-01: rgba(187, 176, 162, 0.2);
  --dark-02: rgba(187, 176, 162, 0.4);
  --light-text-color: #bbb0a2;
  --dark-background: #f2f0ed;
  --background: #fbfbfb;
  --cta: rgb(236, 129, 82);
  --background-image: url(./assets/gradient-light.jpeg);
}

.dark-theme {
  --text-color: #e5e1d6;
  --light-text-color: #667f7d;
  --text-color-overlay: rgba(229, 225, 214, 0.4);
  --dark-01: rgba(229, 225, 214, 0.1);
  --dark-02: rgba(229, 225, 214, 0.2);
  --dark-background: #00474d;
  --background: #031111;
  --cta: #cf3205;
  --background-image: url(./assets/gradient-dark.jpeg);
}
