<div class="landing">
  <h1>Welcome to this app</h1>
  <h3>
    Needing to have reality confirmed and experience enhanced by photographs is
    an aesthetic consumerism to which everyone is now addicted. Industrial
    societies turn their citizens into image-junkies; it is the most
    irresistible form of mental pollution.
  </h3>

  <%- include('../partials/posts-all') %>
</div>
