<div class="small-cont">
  <h1>Login</h1>
  <h3>Welcome to the app, put in your email and password.</h3>
  <form action="/users/login" method="post">
    <div class="editGrid">
      <div class="col-1">
        <div class="field">
          <label for="email">Email</label>
          <input id="email" type="email" name="email" required />
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input type="password" name="password" required />
        </div>
        <% if (message) { %>
        <div class="error"><%= message %></div>
        <% } %>
      </div>
    </div>
    <div>
      <button class="cta-button">Log in</button>
      <a href="/" class="sec-button">back</a>
    </div>
  </form>
  <p class="under-text">
    If you do not have an acccount, <a href="/register/new"> sign up</a> and
    join the fun.
  </p>
</div>
