<div>
    <p>Make sure to adjust the href attribute to match the path to your CSS</p>
  
    <form action="/posts" method="post" enctype="multipart/form-data" >

      <label for="description">Description</label>
      <input type="text" name="description" id="description" />
      <label for="path">Post Picture</label>
      <input
        type="file"
        name="path"
        id="path"
        accept="image/jpeg, image/png"
      />
      <button type="submit">post</button>
    </form>
  </div>