<div class="small-cont">
  <h1>Register</h1>
  <h3>Make sure to adjust the href attribute to match the path to your CSS</h3>

  <form action="/register" method="post" enctype="multipart/form-data">
    <label for="user_name">Username*</label>
    <input type="text" name="user_name" id="user_name" />
    <label for="email">Email*</label>
    <input type="text" name="email" id="email" />
    <label for="password">Password*</label>
    <input type="text" name="password" id="password" />
    <label for="profile_pic">Profile Picture</label>
    <input
      type="file"
      name="profile_pic"
      id="profile_pic"
      accept="image/jpeg, image/png"
    />
    <div>
      <button type="submit" class="cta-button">Register</button>
      <a href="/" class="sec-button ">back</a>
    </div>
  </form>

</div>
<style>
  h1.back {
    color: var(--body-background);
  }
  
  body {
    background-color: var(--dark-text);
  }
  </style>